<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/styles4.css">
  </head>
  <body>
        <div class="skills">
          <h2><i>Ƀ Ł Ɵ ʛ ¡</i></h2>
          <div class="skill-row">
            <img class="code-img" src="images/dog_blog.jpg" alt="code-img">

            <h3>Dog</h3>
            <p><i>
              The dog has been a pet since ancient times.
              It is a quadruped animal.
              They are omnivores.
              People raise them for guarding their homes.
              They have more ability to hear and smell than humans.
              Their teeth are very sharp.
              It is also a loyal animal that is always loyal to its owner.
              The average age of a dog is 12 years.
            </p></i>

          </div>
          <hr>
          <div class="skill-row">
            <img class="chilli-img" src="images/cat_blog.jpg" alt="chillies-img">

            <h3>Cat</h3>
            <p><i>
              Cat is the most beautiful domestic animal.
              It is found in almost every house.
              It has sharp eyes and two beautiful ears.
              It is a four-legged animal.
              They eat fish, milk, and meat.
              Cats love to stay in warm places.
              They have really good eyesight.
              They can climb a tree so quickly.
              Kids love cats so much.
              I love cats as a pet.
            </p></i>

          </div>
          <hr>
          <div class="skill-row">
            <img class="code-img" src="images/cow_blog.jpg" alt="code-img">

            <h3>Cow</h3>
            <p><i>
              The cow has special importance in Hinduism.
              In India, the cow is considered the form of the goddess.
              The cow is worshiped in Hinduism.
              Cow is a vegetarian animal.
              We get milk from the cow.
              Its urine is used in making many medicines.
              The same cheese can be obtained from cow’s milk.
              Cow’s milk is very beneficial for young children.
            </p></i>

        </div>
        <hr>
        <div class="skill-row">
          <img class="chilli-img" src="images/goat_blog.jfif" alt="chillies-img">

          <h3>Goat</h3>
          <p><i>
            Goat is a very useful animal.
            We get milk from goat.
            Its milk is very rich in nutrients.
            Goat milk is very beneficial for newborns.
            Many types of things are made of goat's horns.
            The ability to see goat at night is very high.
            Their main diet is small leaves of trees.
            The average age of a goat is 15 to 18 years.
            Goat milk is more digestible than cow's milk.
          </p></i>
        </div>
        </div>
  </body>
</html>
