<!-- Features -->

  <section class="colored-section" id="features">

    <div class="container-fluid" id="features2">

      <div class="row rowbar">
        <div class="feature-box col-lg-3">
          <i class="fad fa-dog fa-6x"></i>
          <h3 class="feature-title">Bark Bark!</h3>
          <p>Dogs do speak, but only to those who listen.</p>
          <a href="dog"><button class="btn btn-lg btn-outline-success btn-block btn-danger" type="button">DOGGO</button></a>
        </div>

        <div class="feature-box col-lg-3">
          <i class="fad fa-cat fa-6x"></i>
          <h3 class="feature-title">Meow Meow!</h3>
          <p>Cat leaves prints of paws in your heart, always.</p>
          <a href="cat"><button class="btn btn-lg btn-outline-danger btn-block btn-warning" type="button">CAT</button></a>
        </div>

        <div class="feature-box col-lg-3">
          <i class="fad fa-cow fa-6x"></i>
          <h3 class="feature-title">Moo Moo!</h3>
          <p>Keep calm and love cows, they are sweet.</p>
          <a href="cow"><button class="btn btn-lg btn-outline-warning btn-block btn-success" type="button">COW</button></a>
        </div>

        <div class="feature-box col-lg-3">
          <i class="fad fa-sheep fa-6x"></i>
          <h3 class="feature-title">Baa Maa!</h3>
          <p>Goat's business is none of the sheep's concern.</p>
          <a href="goat"><button class="btn btn-lg btn-outline-primary btn-block btn-primary" type="button">GOAT</button></a>
        </div>
      </div>


    </div>

  <!-- Testimonials -->

  <div id="testimonials" class="carousel slide" data-interval=1000 data-pause=hover data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid">
        <img class="testimonial-image" src="images/kbc-7.jpg" alt="dog-profile">
      </div>
      <div class="carousel-item container-fluid">
        <img class="testimonial-image" src="images/kbc-4.jpg" alt="lady-profile">
      </div>
      <div class="carousel-item container-fluid">
        <img class="testimonial-image" src="images/kbc-5.jpg" alt="lady-profile">
      </div>
      <div class="carousel-item container-fluid">
        <img class="testimonial-image" src="images/kbc-8.jpg" alt="lady-profile">
      </div>
    </div>
  </div>

</section>

<!-- About -->

<section class="colored-section" id="about">
  <div class="container-fluid" id="features3">
      <h1><i>@  Ƀ  Ɵ  Ũ  Ʈ  .</i></h1>
    <div class="row-about">
        <img class="ima" src="images/dog_man.jpg">
        <p class="para">This is sort of a social service, but for animals. We work to keep the animals around us in some safe hands,
          so that they can be well taken care of. You can report any such animal, which you find homeless,
          we treat them well here, and prepare them for selling, <b>free of cost</b>, so, this provides smooth balance and functioning, as people
        who are in search of a pet, can book it here and adopt it from our center.....</p>
    </div>
  </div>
</section>

<!-- Display -->

<section class="white-section">
  <div class="picz">
    <img class="press-logo" id="one" src="images/footer-1.jpg">
    <img class="press-logo" id="one" src="images/footer-2.jpg">
    <img class="press-logo" id="one" src="images/footer-3.jpg">
  </div>
  <div class="picz2">
    <img class="press-logo" id="two" src="images/footer-5.jpg">
    <img class="press-logo" id="two" src="images/footer-4.jpg">
  </div>
</section>

<!-- Footer -->

<footer class="white-section" id="footer">
  <div class="container-fluid">
    <a href="https://www.facebook.com/"><i class="social-icon fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/"><i class="social-icon fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/"><i class="social-icon fab fa-instagram"></i></a>
    <a href="https://mail.google.com/"><i class="social-icon fas fa-envelope"></i></a>
    <p>© Copyright 2021 PetCare</p>
    <p>Contact No.: 9458123791/8218929532</p>
  </div>
</footer>


</body>

</html>
