<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Availability</title>
    <link rel="stylesheet" href="css/styles2.css">
  </head>
  <body>
    <div class="heading">
      <h1><em>C<br>U<br>S<br>T<br>O<br>M<br>E<br>R<br><br><br>D<br>E<br>T<br>A<br>I<br>L<br>S</em></h1>
    </div>
    <form class="frm" action="/adopt" enctype="multipart/form-data" method="post">
      <label for="fname"><strong>First Name:-</strong></label><br>
      <input type="text" placeholder="Enter full-name" name="fname"><br><br><br>
      <label for="fname"><strong>Last Name:-</strong></label><br>
      <input type="text" placeholder="Enter full-name" name="lname"><br><br><br>
      <label for="addr"><strong>Address:-</strong></label><br>
      <input type="text" placeholder="Enter address" name="addr"><br><br><br>
      <label for="pnum"><strong>Phone Num:-</strong></label><br>
      <input type="text" placeholder="Enter phone number" name="pnum"><br><br><br>
      <button class="button" type="submit" name="button" value="<%= count %>">Confirm</button>
    </form>
  </body>
</html>
